# 
# Hinemos (http://www.hinemos.info/)
#    common configurations for build
# 
# Copyright (c) 2023 NTT DATA INTELLILINK Corporation. All rights reserved.
# 

# --- hinemos ---
version=@VERSION@
version.short=@VERSION_SHORT@
version.major=@VERSION_MAJOR@
version.tool=@VERSION_TOOL@
version.tool.short=@VERSION_TOOL_SHORT@
required.version=@REQUIRED_VERSION@
ha.version.tool=@HA_VERSION_TOOL@

copyright.year=@COPYRIGHT_YEAR@

platform.notify.schemarevision=@PLATFORM.NOTIFY.SCHEMAREVISION@
cloud.clouduser.schemarevision=@CLOUD.CLOUDUSER.SCHEMAREVISION@

manifest.hinemos.version=7.0.2/7.1.0
manifest.ha.hinemos.version=7.0/7.1
manifest.ha.option.version=7.0.c/7.1.a

manifest.xcloud.option.version=7.0.c/7.1.a

manager.product.code=@MANAGER_PRODUCT_CODE@
manager.upgrade.code=@MANAGER_UPGRADE_CODE@
client.web.product.code=@CLIENT_WEB_PRODUCT_CODE@
client.web.upgrade.code=@CLIENT_WEB_UPGRADE_CODE@
agent.product.code=@AGENT_PRODUCT_CODE@
xcloud.aws.manager.product.code=@XCLOUD_AWS_MANAGER_PRODUCT_CODE@
xcloud.aws.manager.upgrade.code=@XCLOUD_AWS_MANAGER_UPGRADE_CODE@
xcloud.aws.client.product.code=@XCLOUD_AWS_CLIENT_PRODUCT_CODE@
xcloud.aws.client.upgrade.code=@XCLOUD_AWS_CLIENT_UPGRADE_CODE@
xcloud.azure.manager.product.code=@XCLOUD_AZURE_MANAGER_PRODUCT_CODE@
xcloud.azure.manager.upgrade.code=@XCLOUD_AZURE_MANAGER_UPGRADE_CODE@
xcloud.azure.client.product.code=@XCLOUD_AZURE_CLIENT_PRODUCT_CODE@
xcloud.azure.client.upgrade.code=@XCLOUD_AZURE_CLIENT_UPGRADE_CODE@
xcloud.hyperv.manager.product.code=@XCLOUD_HYPERV_MANAGER_PRODUCT_CODE@
xcloud.hyperv.manager.upgrade.code=@XCLOUD_HYPERV_MANAGER_UPGRADE_CODE@
xcloud.hyperv.client.product.code=@XCLOUD_HYPERV_CLIENT_PRODUCT_CODE@
xcloud.hyperv.client.upgrade.code=@XCLOUD_HYPERV_CLIENT_UPGRADE_CODE@
xcloud.vmware.manager.product.code=@XCLOUD_VMWARE_MANAGER_PRODUCT_CODE@
xcloud.vmware.manager.upgrade.code=@XCLOUD_VMWARE_MANAGER_UPGRADE_CODE@
xcloud.vmware.client.product.code=@XCLOUD_VMWARE_CLIENT_PRODUCT_CODE@
xcloud.vmware.client.upgrade.code=@XCLOUD_VMWARE_CLIENT_UPGRADE_CODE@
ha.product.code=@HA_PRODUCT_CODE@
ha.upgrade.code=@HA_UPGRADE_CODE@

doc.commandline.ja.name=@DOC_COMMANDLINE_JA_NAME@
doc.commandline.en.name=@DOC_COMMANDLINE_EN_NAME@
doc.commandline.ja.package.name=@DOC_COMMANDLINE_JA_PACKAGE_NAME@
doc.commandline.en.package.name=@DOC_COMMANDLINE_EN_PACKAGE_NAME@
doc.commandline.importexporttool.ja.package.name=@DOC_COMMANDLINE_IMPORTEXPORTTOOL_JA_PACKAGE_NAME@
doc.commandline.importexporttool.en.package.name=@DOC_COMMANDLINE_IMPORTEXPORTTOOL_EN_PACKAGE_NAME@

doc.restapi.ja.name=@DOC_RESTAPI_JA_NAME@
doc.restapi.en.name=@DOC_RESTAPI_EN_NAME@
